* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  overflow: hidden;
}
.v10_3 {
  width: 800px;
  height: 600px;
  background: rgba(188,0,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_7 {
  width: 700px;
  height: 80px;
  background: rgba(0,224,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 50px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v10_8 {
  width: 700px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 50px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v10_22 {
  width: 400px;
  height: 400px;
  background: rgba(92,92,92,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 200px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v10_23 {
  width: 250px;
  height: 80px;
  background: rgba(255,0,183,1);
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 275px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v10_25 {
  width: 250px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 320px;
  left: 275px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v10_27 {
  width: 250px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 179px;
  left: 275px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v10_28 {
  
  color: rgba(0,0,0,1);
  position: absolute;
  top: 587px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(55, 243, 55);
  position: absolute ;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  padding: 20px;

  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  display: none;
  position: absolute ;
  top: 0%;
  right: 1%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}